<!DOCTYPE html>
<html>
    <head>
        <title>TICKET</title>
    </head>

    <body>
        <h2>Movie id :<%=data.id%></h2>
        <h2>Movie Title : <%=data.title%></h2>
        <h2>Ticket Price :<%=data.price%></h2>
        <h2>Number of Ticket :<%=data.count%></h2>
        <h1>Total Amount <small>(Rupees)</small>= <%=data.price*data.count%></h1>
    </body>
</html>